/* 브라우저 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML 요소 초기화 */
html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #333;
  overflow-x: hidden;
}

.wrapper{
  max-width: 1440px;
  margin: 0 auto;
}

/* 링크 초기화 */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* 리스트 초기화 */
ul,
ol,
li{
  list-style: none;
}

/* 이미지 초기화 */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 버튼 초기화 */
button {
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}

/* 폼 요소 초기화 */
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  border: none;
  background: none;
}

/* 테이블 초기화 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
